[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
watchtower = "==1.0.6"
gunicorn = "*"

[dev-packages]
black = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
