[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
python-dotenv = "==0.21.0"
watchtower = "==1.0.6"
gunicorn = "==22.0.0"
app-common-python = "==0.2.5"
splunk-handler = "*"

[dev-packages]
pre-commit = "==3.6.2"

[requires]
python_version = "3.9"
