[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.1.2"
python-dotenv = "==1.2.1"
watchtower = "==3.4.0"
gunicorn = "==23.0.0"
app-common-python = "==0.2.9"
splunk-handler = "*"
urllib3 = "==2.6.2"

[dev-packages]
pre-commit = "==4.5.0"

[requires]
python_version = "3.12"
